body, html {
    background: cyan;
}

#box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
}

.holder {
    display: flex;
    border: 1px solid color;
    width: 9em;
    height: 9em;
    background-color: rgb(225, 225, 225);
    margin: 1em 1em;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.imgHide {
    display: none;
}

.spin {  
    transform: rotateY(180deg)
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    border-bottom: 1px solid black;
    font-size: 2em;
}

#reset {
    width: 6em;
    height: 2.5em;
    border: 1px solid black;
    border-radius: .5em;
    font-size: 1em;
}

#reset:focus {
    outline: none;
}
